@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudLayout >
        <MudAppBar Style="background-color: #023831" Dense="true" Elevation="6">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Style="color: white" Edge="Edge.Start" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudIconButton>
            <MudSpacer />
            <MudImage 
                Src="https://caracolillo.blob.core.windows.net/media-web-caracolillo/CaracolilloMediaImage/CaracolilloLotoPNG.png"
                Width="60"
                Height="42"
                Elevation="25" />
            <MudText Typo="Typo.h6">
                Caracolillo Café
            </MudText>
            <MudSpacer/>
        </MudAppBar>
        <MudCollapse Expanded="_expanded">
            <MudDrawer @bind-Open="_expanded" Elevation="25" Anchor="Anchor.Left">
                <MudDrawerHeader>
                    <MudImage 
                        Src="https://caracolillo.blob.core.windows.net/media-web-caracolillo/CaracolilloMediaImage/caracolilloLogoHeader.png"
                        Width="200"
                        Height="150"/>
                </MudDrawerHeader>
                <MudDrawerContainer >
                    <NavMenu/>
                </MudDrawerContainer>
            </MudDrawer>
        </MudCollapse>
        <MudMainContent>
            <article class="content px-4">
                @Body
            </article>
        </MudMainContent>
    </MudLayout>
</div>